*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
button{
    cursor: pointer;
    border: none;
    transition: .4s;
}
body{
    font-family: 'Roboto' , sans-serif;
}
#header{
    padding: 25px 0;
    background: slategray;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-nav h1{
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-right: 84px;
}
.header-nav a{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin: 26px;
}
.header-nav a:hover{
    color:blue;
    text-decoration-line: underline;
}
.header-btn button {
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding: 15px 30px;
    background: red;
    border-radius: 10px;
    margin: 0 10px;
    border: 2px solid red;
}
.header-btn button:hover{
    background: transparent;
    border: 2px solid red;
    color: red;
}
#hero{
    background: #100E14;
    padding: 100px 0;
}
.hero h1{
    font-weight: 400;
    font-size: 63px;
    text-align: center;
    color: #FFFFFF;
    padding: 56px 0 44px 0;
}
.hero p{
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.hero-btn button{
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
    background: #FF4343;
    border-radius: 8px;
    padding: 15px 27px;
    margin: 73px 0 19px 0;
    display: flex;
    align-items: center;
}
.hero-btn button ion-icon{
    padding-left: 14px;
}
.hero-btn span{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.hero-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 61px;
    position: relative;
}
.hero-img2{
    position: absolute;
    top: 0;
    right: 100px;
}
#shoot{
    background: #121118;
    padding: 60px 0;
}
.shoot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shoot-text h1{
    width: 442px;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #FFFFFF;
    margin-bottom: 38px;}

.shoot-text p{
    width: 452px;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.5);
}
.shoot-img{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.shoot-img-two{
    position: absolute;
    top: -95px;
    right: -80px;
}
#hero3{
    background: #121118;
}
.hero3\,h1{
    font-weight: 400;
    font-size: 58px;
    color: #FFFFFF;
    width: 462px;
    height: 141px;
}
.p3{
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.5);
    width: 524px;
    height: 152px;
}

.p3 span{
    color: white;
}
.hero3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h1p{
    padding-left: 133px;
}
.foto5{
    position: absolute;
}

#hero4{
    background: black;
}
.hero4text{
    font-weight: 400;
    font-size: 54px;
    color: #FFFFFF;
    width: 404px;
    height: 141px;
}
.hero4p{
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.5);
    width: 526px;
    height: 152px;
}
.hero4p span{
color: white;
}

.add-block{
    width: 571px;
    height: 367px;
    background: darkgrey;
    border-radius: 20px;
}
.hero4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-1{  width: 88px;
    height: 55px;
    background: black;
    border-radius: 8px;

}
